.Footer-container{
    position: relative;
}
.Footer-container>hr{
    border: 1px solid var(--lightgray);
}
.developer{
    width: 15rem;
    height: 50rem;
    font-size: 1rem;
    bottom: 5rem;
    color: white;
}
.footer{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    height: 20rem;
}
.social-links{
    display: flex;
    gap: 4rem;

}
.social-links>a>img{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.logo-f{
    width: 20rem;
}
.footer-blur-1{
    bottom: 0;
    width: 26rem;
    height: 12rem;

    right: 15%;
    filter: blur(200px);
    background-color: red;
    
  }
.footer-blur-2{
    bottom: 0;
    width: 26rem;
    height: 12rem;

   left: 15%;
    filter: blur(200px);
    background-color:rgb(255, 115,0);
    
  }